<h1>Librarian</h1>
<p>Welcome to the Librarian app. Here you can add new libraries, new books, and put books into libraries.</p>
<p>
	<%= link_to "Manage Libraries", libraries_path -%> <%= link_to "Manage Books", books_path %>
</p>