#content table {
	
	border-collapse: collapse;
	border: 1px solid #c8c6c6;
	
	th {
		font-weight: normal;
		color: #333;
		background-image: linear-gradient(#ececec, #e3e1e1);
	}
	
	td {
		border: 1px solid #e3e1e1;
	}
	
	th,td {
		padding: 0.25rem;
	}
	
}